.nav {
    text-align: center;
    margin-top: 25px;
    ul {
        list-style: none;
        display: inline-block;
    }
    li {
        float: left;
        font-size: 16px;
        text-transform: uppercase;
            a {
            margin-right: 25px;
                }
            }
        }