.nav {
  text-align: center;
  margin-top: 25px; }
  .nav ul {
    list-style: none;
    display: inline-block; }
  .nav li {
    float: left;
    font-size: 16px;
    text-transform: uppercase; }
    .nav li a {
      margin-right: 25px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa; }

a {
  color: #fff; }
  a:hover, a:focus {
    color: #fb437f;
    text-decoration: none; }

h2 {
  color: #3e3e3e;
  font-weight: 400; }

.nav > li > a:hover {
  background: none; }

/* Custom page header */
.header {
  background: #653eb3; }
  .header .logo {
    font-size: 30px;
    color: #fff;
    text-align: center; }
    .header .logo img {
      margin-right: 15px; }

.head-content {
  margin-top: 45px;
  margin-bottom: 10px; }

/* Make the masthead heading the same height as the navigation */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  margin-bottom: 0; }
  .jumbotron h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 22px; }
  .jumbotron .copy {
    position: absolute;
    top: 30%; }
  .jumbotron p {
    color: #fff;
    font-size: 15px;
    padding: 0 10px; }

.featured {
  padding-bottom: 93px; }
  .featured img {
    text-align: center;
    display: inline-block; }
  .featured .col {
    margin-bottom: 25px;
    text-align: center; }
  .featured .col-content {
    padding: 25px 25px 30px 25px; }
  .featured h2 {
    margin-bottom: 45px;
    text-align: center; }
  .featured h4 {
    display: inline-block; }
  .featured p {
    color: #8c8c8c;
    font-size: 15px; }
  .featured a {
    color: #3e3e3e;
    font-size: 22px; }
    .featured a.btn {
      background: #fb4381;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 3px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
      margin-top: 25px; }

.price {
  padding-left: 10px;
  font-size: 16px;
  color: #653eb3; }

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header .logo {
    min-height: 36px;
    height: 36px;
    float: left;
    position: relative;
    display: table; }
    .header .logo .branding {
      display: table-cell;
      vertical-align: middle; }

  .head-content {
    margin-bottom: 45px; }

  .nav {
    margin-top: 10px;
    position: relative;
    float: right;
    text-align: left; }

  .featured .col-content {
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15); }
  .featured h2 {
    text-align: left; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .head-content {
    margin-bottom: 45px; }

  .nav {
    margin-top: 0; }

  .nav li a {
    margin-right: 12px; }

  .jumbotron p {
    padding: 0 150px; }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    background: none; }
    .jumbotron h1 {
      font-size: 46px;
      color: #fff;
      margin-bottom: 45px; }
    .jumbotron .copy {
      position: absolute;
      top: 35%; }
    .jumbotron p {
      color: #fff;
      font-size: 18px;
      padding: 0 220px; }

  .featured {
    padding-top: 30px;
    padding-bottom: 93px;
    margin-right: 0; }
    .featured .col {
      margin-bottom: 0;
      text-align: left; }
    .featured h2 {
      margin-bottom: 62px; }
    .featured h4 {
      display: inline-block; }
    .featured p {
      color: #8c8c8c;
      font-size: 15px; }
    .featured a {
      color: #3e3e3e;
      font-size: 22px; }
      .featured a.btn {
        background: #fb4381;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        border-radius: 3px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        margin-top: 25px; }

  .price {
    padding-left: 10px;
    font-size: 18px;
    color: #653eb3; }

  .no-hpad {
    padding-left: 0;
    padding-right: 0; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1148px; } }
@media (max-width: 1450px) {
  .jumbotron img {
    display: block;
    max-width: 100%;
    height: auto; } }

/*# sourceMappingURL=main.css.map */
